    {{> header}}
    <h1>{{pageTitle}}</h1>
    <p>{{screamIt welcomeMessage}} {{screamIt name}}</p> <!--Here we are calling the screamIt helper and passing it Welcome to this page {{name}} as argument ... yeah to pass an argument just put a space after the helper and enter the argument value  -->
    {{> footer}}
